<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.radiok.kuom"
    versionCode = "12"
    version     = "3.0.99" >

<!-- versionCode is optional and Android only -->
<name>Radio K - KUOM</name>
<description>Radio K, the award-winning radio station of the University of Minnesota.</description>

<gap:config-file platform="android" parent="/manifest/application">
<activity android:launchMode="singleInstance" />
</gap:config-file>

  <author href="https://build.phonegap.com" email="support@phonegap.com">
      Hardeep Shoker
  </author>

</widget>
