<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.radiok.kuom"
    versionCode = "12"
    version     = "3.0.98" >
    <preference name="phonegap-version" value="cli-9.0.0" />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name="android-minSdkVersion" value="19" />

<!-- versionCode is optional and Android only -->

<!--
<name>Radio K - KUOM</name>/Users/admin/android/radiok/helloworld/index.html
<description>Radio K, the award-winning radio station of the University of Minnesota.</description>
<gap:platform name="android" />
<gap:platform name="ios" />
-->
<gap:config-file platform="android" parent="/manifest/application">
<activity android:launchMode="singleInstance" />
</gap:config-file>

  <author href="https://build.phonegap.com" email="support@phonegap.com">
      Hardeep Shoker
  </author>

</widget>
