<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.radiok.streaming"
        versionCode="1.0.1" 
        version   = "1.0.1">

    <!-- versionCode is optional and Android only -->

    <name>Radio K Streaming</name>
    <description>Radio K, the award-winning radio station of the University of Minnesota.</description>
<gap:platform name="android" />
<preference name="fullscreen" value="true" />
<preference name="orientation" value="portrait" />
<gap:splash src="splash.png" />
<access origin="*" />
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/network"/>
<icon src="icon.png" />
</widget>